
<div class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2022 Copyright:
    <a href="https://twitter.com/MaRuF00011423">@bangabashi</a>
  </div>
  <!-- Copyright -->

</div>
  
  </body>
</html>